@import "../../Styles/common.scss";

.SpecialOrder {
  width: 100%;
  margin-top: 300px;

  .itemContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .itemList {
      height: 684px;
      margin: 10px;
      cursor: pointer;

      .imgContainer {
        width: 785px;
        height: 450px;

        .orderImg {
          width: 100%;
          height: 100%;
        }
      }

      .itemTitle {
        margin-top: 10px;
        font-size: 26px;
        font-weight: bold;
      }

      .itemSubtitle {
        height: 48px;
        margin-top: 6px;

        .subcontent {
          color: blue;
          font-weight: bold;
        }
      }

      .dDayBubble {
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .bubble {
          // width: 130px;
          // margin: auto 0;
          // padding: 5px;
          // text-align: center;
          font-weight: bold;
          color: $whiteColor;
          background-color: $orangeColor;
          transition-property: background-color;
          transition-duration: 1s;
          transition-timing-function: linear;
          transition-delay: 0.5s;
        }
      }

      .dDayBorder {
        height: 1.5px;
        background-color: #dbdbdb;

        &:after {
          content: "";
          display: block;
          width: 30%;
          border-bottom: 1.5px solid red;
        }
      }

      .itemDate {
        font-size: 18px;
        font-style: italic;
        font-weight: bold;
        margin-top: 10px;
      }
    }
  }
}
