@import "../../../Styles/common.scss";

.Nav {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: $whiteColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;

  .couponBox {
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: $blackColor;
    padding: 0 60px 0 50px;

    .couponText {
      font-size: 14px;
      color: $whiteColor;
      cursor: pointer;

      .redColor {
        color: red;
      }
    }

    .couponDownContainer {
      padding: 7.5px 15px;
      font-size: 13px;
      text-align: center;
      color: $whiteColor;
      background-color: $orangeColor;
      border-radius: 1rem;
      cursor: pointer;
    }
  }

  .navMenuColumnContainer {
    display: flex;
    flex-direction: column;
    margin: 30px 50px;

    .navLogoRowContainer {
      display: flex;
      justify-content: space-between;

      .navLogoImgContainer {
        width: 120px;
        height: 30px;
        cursor: pointer;

        .navLogoImg {
          width: 100%;
          height: 100%;
        }
      }

      .fas {
        cursor: pointer;
      }

      .menuIcon {
        margin: 0 15px 0 5px;
        font-size: 10px;
      }
    }

    .navRowContainer {
      width: 100%;
      height: 50%;
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .navMenuContainer {
        font-family: "Montserrat", sans-serif;
        font-size: 45px;

        .menuTitleText {
          margin-right: 30px;
          cursor: pointer;

          &:hover {
            border-bottom: 5px solid $blackColor;
          }
        }
      }

      .fas {
        cursor: pointer;
      }

      .CategoryColumnContainer {
        display: flex;

        .navMenuCategory {
          font-weight: bold;

          .menuCategoryText {
            font-size: 18px;
            margin-right: 15px;
            cursor: pointer;

            &:hover {
              border-bottom: 4px solid $blackColor;
            }
          }
        }

        .border {
          margin: 0 10px;
          border-right: 0.5px solid $blackColor;
        }

        .subMenuText {
          text-align: end;
          margin: 0 10px;
          font-size: 16px;
          font-style: oblique;
          cursor: pointer;

          &:hover {
            border-bottom: 4px solid $blackColor;
          }
        }
      }
    }
  }
}
