@import "../../../Styles/common.scss";

.NavActive {
  width: 100%;
  height: 92px;
  top: 0;
  left: 0;
  background-color: $whiteColor;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #d4d4d4;
  position: fixed;

  .navContainer {
    display: flex;
    flex-direction: row;
    padding: 0 25px 0 50px;

    .logoContainer {
      max-width: 56px;
      min-width: 56px;
      height: 56px;
      cursor: pointer;

      .logoImg {
        width: 100%;
        height: 100%;
      }
    }

    .navMenuContainer {
      width: 100%;
      padding: 0 20px;
      display: flex;
      flex-direction: column;

      .navRowContainer {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .menuTitle {
          font-family: "Montserrat", sans-serif;
          font-size: 26px;

          .title {
            margin: 5px 10px;
            cursor: pointer;

            &:hover {
              border-bottom: 4px solid $blackColor;
            }
          }
        }
        .navMenuIcon {
          font-size: 20px;

          .fas {
            padding: 0 10px 0;
            cursor: pointer;
          }
        }

        .categoryColumnContainer {
          display: flex;

          .categoryColletion {
            font-size: 14px;
            font-weight: bold;

            .category {
              margin: 0 10px;
              cursor: pointer;

              &:hover {
                border-bottom: 4px solid $blackColor;
              }
            }
          }

          .border {
            margin: 0 10px;
            border-right: 0.5px solid #d4d4d4;
          }

          .submenuCollection {
            font-size: 13px;
            font-style: oblique;
            font-weight: 300;

            .submenu {
              margin: 0 10px;
              cursor: pointer;

              &:hover {
                border-bottom: 4px solid $blackColor;
              }
            }
          }
        }

        .fa-search {
          padding: 5px;
          cursor: pointer;
        }
      }
    }
  }
}
