.likeIcon {
  display: flex;
  align-items: center;
  position: relative;
  color: #5d5d5d;
  cursor: pointer;

  .likeIconDisplayNone {
    display: none;
  }

  .clickedIcon {
    display: none;
    position: absolute;
  }

  .clickedIconActive {
    display: block;
  }

  .likeNumber {
    margin-left: 5px;
  }
}
