@import "../../Styles/common.scss";

.TwentyNineTVFeed {
  margin-top: 300px;
  @include center;
  flex-wrap: wrap;

  .TwentyNineTV {
    margin: 10px;

    .feedContainer {
      width: 100%;

      .feedContent {
        width: 350px;

        .container {
          cursor: pointer;
        }

        .feedText {
          margin: 10px 0;

          .feedProfile {
            display: flex;

            .profile {
              width: 60px;
              margin-right: 10px;
              border-radius: 50%;
              cursor: pointer;
            }

            .feedProfileText {
              @include rowCenter;
              flex-direction: column;

              .brandName {
                font-weight: bold;
                cursor: pointer;
              }

              .brandOffical {
                margin-top: 5px;
                font-size: 15px;
                cursor: pointer;
              }
            }
          }

          .feedComment {
            margin: 15px 0;
          }

          .feedTag {
            font-weight: bold;

            span {
              cursor: pointer;
            }
          }

          .likeIcon {
            margin-top: 20px;
            color: rgba(0, 0, 0, 0.4);

            .likeNumber {
              margin-left: 5px;
            }
          }
        }

        .container {
          width: 335px;
          height: 565px;
          overflow: hidden;

          .feedImg {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}
