@import "../../Styles/common.scss";

.detailCategory {
  height: 70px;
  margin: 0 auto;
  margin-top: 295px;
}

.header {
  min-height: 440px;
  margin-top: 20px;
  position: relative;
  background: url("//img.29cm.co.kr/next-edition/2020/07/17/618b0c17b23b48f483cd1d9c71c9408c_20200717120739.jpg")
    no-repeat 50%;
  background-size: cover;

  .blackContainer {
    position: absolute;
    background-color: rgba($color: #000000, $alpha: 0.5);
    width: 100%;
    height: 100%;

    .titleContainer {
      height: 100%;
      margin: auto 0;
      @include center;
      flex-direction: column;
      color: white;

      .title {
        font-family: "Montserrat";
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 30px;
      }

      .content {
        font-size: 22px;
      }
    }
  }
}
